@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
}

.index {
  display: flex;
  padding-top: 40px;
  margin: 20px;
  overflow: hidden;
}

.index-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  right: 50px;
}

.index-entry {
  background: #C5E3F8;
  border-color: #C5E3F8;
  margin: 10px;
}
.index-entry:hover {
  background: #82B4D6;
  border-color: #82B4D6;
}

.index-folders {
  background: #e7ccaa;
  border-color: #e7ccaa;
  margin: 10px;
}
.index-folders:hover {
  background: #b8966e;
  border-color: #b8966e;
}

.latest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  margin: 70px 40px 70px 40px;
}

.entry-card {
  max-width: 250px;
  margin: 3px;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(to bottom, #F9F999, #6BE0FA, #DDB3FF);
}

.card-text-f {
  background-color: #f6a723;
  color: white;
  font-size: small;
  margin: 3px 0 3px 0;
  padding: 0 0 0 10px;
}

.card-text-w {
  background-color: #a9dce3;
  color: white;
  font-size: small;
  margin: 3px 0 3px 0;
  padding: 0 0 0 10px;
}

.card-text-e {
  background-color: #8bc349;
  color: white;
  font-size: small;
  margin: 3px 0 3px 0;
  padding: 0 0 0 10px;
}

.card-text-m {
  background-color: #B277E2;
  color: white;
  font-size: small;
  margin: 3px 0 3px 0;
  padding: 0 0 0 10px;
}

.card-text-s {
  background-color: #E9E16A;
  color: white;
  font-size: small;
  margin: 3px 0 3px 0;
  padding: 0 0 0 10px;
}

#trash {
  background-color: white;
  border-color: red;
  color: red;
}

#rTrash {
  background-color: white;
  border-color: red;
  color: red;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
}

#view {
  background-color: white;
  border-color: black;
  color: black;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}

#edit {
  background-color: white;
  border-color: #00e3de;
  color: #00e3de;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.wheel {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

#folder-newEntry {
  background-color: #C5E3F8;
  border-color: #C5E3F8;
  justify-content: center;
  /* margin: 30px 30px 30px 0; */
}
#folder-newEntry:hover {
  background: #82B4D6;
  border-color: #82B4D6;
}

.folders {
  display: flex;
  flex-direction: row;
}

.submitted {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

.drafts {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

.newSource {
  background: #C5E3F8;
  border-color: #C5E3F8;
  margin: 10px;
}
.newSource:hover {
  background: #82B4D6;
  border-color: #82B4D6;
}
