@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
}

/* NAVBAR */
.navbar-collapse {
  display: flex;
  justify-content: center;
}
.navProfile {
  margin: 0 18px;
}
.navRes {
  margin: 0 18px;
}
.navNewRes {
  margin: 0 18px;
}
.navJournal {
  margin: 0 18px;
}
.navNewEn {
  margin: 0 18px;
}

.signOut {
  background: black;
  border-color: white;
  color: white;
  display: flex;
  justify-content: right;
  align-content: center;
}

/* MAIN/PROFILE/INDEX PAGE */
.index {
  display: flex;
  padding-top: 40px;
  margin: 20px;
  overflow: hidden;
}

.index-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  right: 50px;
}

.index-entry {
  background: #C5E3F8;
  border-color: #C5E3F8;
  margin: 10px;
}
.index-entry:hover {
  background: #82B4D6;
  border-color: #82B4D6;
}

.index-folders {
  background: #e7ccaa;
  border-color: #e7ccaa;
  margin: 10px;
}
.index-folders:hover {
  background: #b8966e;
  border-color: #b8966e;
}

.latest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  margin: 70px 40px 70px 40px;
}

/* JOURNAL ENTRY CARD STYLING */
.entry-card {
  max-width: 250px;
  margin: 3px;
  position: relative;
  border-radius: 8px;
  /* background: #A4CCE7; */
}
.entry-title {
  max-width: 175px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text-f {
  background-color: #f6a723;
  color: white;
  font-size: small;
  margin: 3px 0 3px 0;
  padding: 0 0 0 10px;
}

.card-text-w {
  background-color: #a9dce3;
  color: white;
  font-size: small;
  margin: 3px 0 3px 0;
  padding: 0 0 0 10px;
}

.card-text-e {
  background-color: #8bc349;
  color: white;
  font-size: small;
  margin: 3px 0 3px 0;
  padding: 0 0 0 10px;
}

.card-text-m {
  background-color: #B277E2;
  color: white;
  font-size: small;
  margin: 3px 0 3px 0;
  padding: 0 0 0 10px;
}

.card-text-s {
  background-color: #E9E16A;
  color: white;
  font-size: small;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: #3c3c3c;
  margin: 3px 0 3px 0;
  padding: 0 0 0 10px;
}

/* ENTRY/DRAFT DESCRIPTION PAGE */
.title-text {
  color: #C5E3F8;
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.input-values {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.display-text {
  display: flex;
  margin: 0 10%;
  max-width: 100%;
}
.display-f {
  background: linear-gradient(
    to right,
    #f6a723 60%,
    #EB611F 90%,
    #E01A1A
  );
  color: white;
}
.display-w {
  background: linear-gradient(
    to right,
    #a9dce3 60%, 
    #C57B7F 90%,
    #E01A1A
  );
  color: white;
}
.display-e {
  background: linear-gradient(
    to right,
    #8bc349 60%, 
    #B66F32 90%,
    #E01A1A
  );
  color: white;
}
.display-m {
  background: linear-gradient(
    to right,
    #B277E2 60%, 
    #C9497E 90%,
    #E01A1A
  );
  color: white;
}
.display-s {
  background: linear-gradient(
    to right,
    #E9E16A 60%, 
    #E57E42 90%,
    #E01A1A
  );
  color: white;
}

#trash {
  background-color: white;
  border-color: red;
  color: red;
}

#rTrash {
  background-color: white;
  border-color: red;
  color: red;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
}

#view {
  background-color: white;
  border-color: black;
  color: black;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}

#edit {
  background-color: white;
  border-color: #00e3de;
  color: #00e3de;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 8px;
  left: 8px;
}

/* RESOURCES PAGES */
.wheel {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

.newSource {
  background: #C5E3F8;
  border-color: #C5E3F8;
  margin: 10px;
}
.newSource:hover {
  background: #82B4D6;
  border-color: #82B4D6;
}
.newRe {
  background: white;
  border-color: #C5E3F8;
  color: #C5E3F8;
}
.newRe:hover {
  background: #C5E3F8;
  border-color: white;
  color: white;
}

.re-text {
  color: #C5E3F8;
}

/* JOURNAL FOLDERS PAGE */
#folder-newEntry {
  background-color: #C5E3F8;
  border-color: #C5E3F8;
  justify-content: center;
}
#folder-newEntry:hover {
  background: #82B4D6;
  border-color: #82B4D6;
}

.folders {
  display: flex;
  flex-direction: row;
}

.submitted {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

.drafts {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

/* NEW ENTRY FORM PAGE */
#create-draft {
  display: flex;
  align-items: center;
  align-self: flex-end;
  left: 75%;
  top: 15%;
  background: #C5E3F8;
  border-color: #C5E3F8;
}
#create-draft:hover {
  background: #82B4D6;
  border-color: #82B4D6;
}

.entry-form {
  flex-direction: column;
  width: 100%;
  margin-left: 15%;
}

.RangeSliders {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 15px;
  width: 100%;
  background: white;
}

input[type="range"] {
  padding: 5px;
  margin: 0 0 0 20px;
  -webkit-appearance: none;
    appearance: none;
    background: whitesmoke;
    width: 50%;
    overflow: hidden;
    height: 6px;
    border-radius: 50px;
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background-color: transparent;
  height: 1px;
  border-radius: 0.5rem;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
   appearance: none;
   margin-top: -9px;

   background-color: whitesmoke;
   height: 20px;
   width: 20px;
   max-width: 100%;
   border-radius: 50%;
   background-size: cover;
   box-shadow: 407px 0 0 400px whitesmoke;
}

/* RANGE SLIDER INDIVIDUALS */
#range1 {
  background: linear-gradient(
    to right,
    #E01A1A,
    #EB611F 15%,
    #f6a723 40%
  );
}
input[id="range1"]::-webkit-slider-thumb {
  background-color: #f6a723;
}
#range2 {
  background: linear-gradient(
    to right,
    #E01A1A,
    #C57B7F 15%,
    #a9dce3 40%
  );
}
input[id="range2"]::-webkit-slider-thumb {
  background-color: #a9dce3;
}
#range3 {
  background: linear-gradient(
    to right,
    #E01A1A,
    #B66F32 15%,
    #8bc349 40%
  );
}
input[id="range3"]::-webkit-slider-thumb {
  background-color: #8bc349;
}
#range4 {
  background: linear-gradient(
    to right,
    #E01A1A,
    #C9497E 15%,
    #B277E2 40%
  );
}
input[id="range4"]::-webkit-slider-thumb {
  background-color: #B277E2;
}
#range5 {
  background: linear-gradient(
    to right,
    #E01A1A,
    #E57E42 15%,
    #E9E16A 35%
  );
}
input[id="range5"]::-webkit-slider-thumb {
  background-color: #E9E16A;
}

.mb-3 {
  padding: 0 5px 0 5px;
  margin: 10px 0 0 0;
  width: 100%;
}

/* TOOLTIPS */
.tip {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  width: 10px;
  height: 10px;
}
 .tip:hover {
  background: #ccc;
  border-color: #ccc;
}

.foodTip {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.waterTip {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.energyTip {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.moodTip {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socialTip {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
