@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.index {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  padding-top: 50px;
  margin: 0;
}

.index-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  right: 50px;
}

.index-entry {
  background: grey;
  border-color: black;
  margin: 10px;
}

.index-folders {
  background: grey;
  border-color: black;
  margin: 10px;
}

#latest {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 70px 40px 70px 40px;
  
}
